/* Nav */
#templatemo_nav_top { 
    min-height: 40px;
}
#templatemo_nav_top * { 
    font-size: .9em !important;
}
#templatemo_main_nav a { 
    color: #212934;
}
#templatemo_main_nav a:hover { 
    color: #434391;
}
#templatemo_main_nav .navbar .nav-icon { 
    margin-right: 20px;
}

@media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {
        max-width: 550px;
    }
} 