/* Add these styles to your App.css */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 500px;
}

.services-icon-wap {
    transition: .3s;
}

.services-icon-wap:hover {
    transform: translateY(-10px);
}

.modal-header {
    border-bottom: none;
}

.modal-header .btn-close {
    margin: -0.5rem -0.5rem -0.5rem auto;
}

.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.invalid-feedback {
    font-size: 0.875em;
    color: #dc3545;
}
